{% extends "base.html" %}

{% block content %}
    <h2 class="text-center">All Songs</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for song in songs %}
                <tr>
                    <td>{{ song.title }}</td>
                    <td>{{ song.artist }}</td>
                    <td>{{ song.album }}</td>
                    <td>
                        <a href="{{ url_for('play', id=song.id) }}" class="btn btn-primary">Play</a>
                        <a href="{{ url_for('download', id=song.id) }}" class="btn btn-success">Download</a>
                        <form action="{{ url_for('delete', id=song.id) }}" method="post" style="display: inline-block;">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
